@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&family=Roboto:wght@300;400&display=swap");

:root {
  --golobal-font-family: "Exo 2", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  --primary-color: #170550;
  --secondary-color: #31065a;

  --font-primary-color: #fff;
  --font-secondary-color: #f86f03;
  --font-tertiary-color: #461959;

  --font-promary-wight: 600;
  --font-secondary-wight: 400;
  --font-tertiary-wight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primarycolor {
  --primary-color: #170550;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input {
  outline: none;
  border: none;
  background: none;
}
button {
  cursor: pointer;
}
input,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
li {
  font-family: var(--golobal-font-family);
}

.m0 {
  margin: 0;
}
/* =======Font Size====== */
.fontSize16 {
  font-size: 16px;
}
.fontSize18 {
  font-size: 18px;
}
.fontSize20 {
  font-size: 20px;
}
.fontSize25 {
  font-size: 25px;
}
.fontSize30 {
  font-size: 30px;
}
.fontSize35 {
  font-size: 35px;
}
.fontSize40 {
  font-size: 40px;
}
.fontSize50 {
  font-size: 50px;
}
.fontSize60 {
  font-size: 60px;
}
/* ======Font White====== */
.fontWeight600 {
  font-weight: 600;
}
.fontWeight700 {
  font-weight: 700;
}
.fontWeight400 {
  font-weight: 400;
}
/* =======Font Family======== */
.fontFamilyExo {
  font-family: Exo 2;
}

/* ==================Color=================== */

.bgColorP {
  background-color: #170550;
}
.bgColorS {
  background-color: #31065a;
}
.bgColorT {
  background-color: #f86f03;
}

.bgColorW {
  background-color: #fff;
}
.texColorP {
  color: #fff;
}
.texColorS {
  color: #f86f03;
}
.textColorBtn {
  color: #461959;
}

/* =================Padding==================== */
.pd15 {
  padding: 15px;
}
.pdT15 {
  padding-top: 15px;
}
.pdB15 {
  padding-bottom: 15px;
}
.pdR24 {
  padding-right: 24px;
}
.pd31 {
  padding: 31px;
}
.pdT31 {
  padding-top: 31px;
}
.pdB31 {
  padding-bottom: 31px;
}
.pd36 {
  padding: 36px 0px 36px 0px;
}
.pd76 {
  padding: 76px;
}
.pdT76 {
  padding-top: 76px;
}
.pdB76 {
  padding-bottom: 76px;
}

.pdB160 {
  padding-bottom: 160px;
}
.pdButton {
  padding: 9px 42px;
}

/* ==============Margin============== */
.mgR150 {
  margin-right: 150px;
}

/* ===========Border Redius=========== */
.borderR20 {
  border-radius: 20px;
}
